.logo {
  margin: 40px 0px 50px 0px;
  width: 170px;
  padding: 0px 15px;
}

.title{
  font-family: 'Crete Round';
  font-weight: 400;
  font-size: 2.1em;
  margin: 10px 0px;
  z-index: 100;
  padding: 0px 15px;
  position: relative;
}

